<header>
    <div class="contenedor contNav">
        <nav class="nav">
            <a class="navLink" href="/products" class=""> LOGO </a>
            <ul>
                {{#if user}}
                <li> <a class="navLink" href="/carts"> Carrito </a></li>
                <li> <a class="navLink" href="/messages"> Chat </a></li>
                <li> <a class="navLogout" href="/api/sessions/logout">Logout</a></li>
                {{else}}
                <li> <a class="navLink" href="/login"> Login </a></li>
                {{/if}}
            </ul>
        </nav>
        <div class="line"></div>
        {{#if user}}
        <div class="navUser">
            <p>Hola <a class="navLink" href="/profile">{{user.first_name}}</a> ({{user.role}})</p>
        </div>
        {{/if}}
    </div>
</header>